{% extends 'base.html' %} {% block css %}
<link href="/publics/css/vendors.css?afc78ac249d51c33fbd4" rel="stylesheet"><link href="/publics/css/index.css?afc78ac249d51c33fbd4" rel="stylesheet"></head>{% endblock %} {% block content %}
<h1>index</h1>
<img src="/publics/image/350x180.png" alt=""> {% endblock %} {% block js %}
<script type="text/javascript" src="/publics/js/vendors.js?afc78ac249d51c33fbd4"></script><script type="text/javascript" src="/publics/js/index.js?afc78ac249d51c33fbd4"></script></body>{% endblock %}